/android/
/caches/
/daemon/
/kotlin-profile/
/.kotlin/
/native/
/wrapper/
*.iml
.gradle
/local.properties
/.idea/artifacts/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/inspectionProfiles/
/.idea/other.xml
/.idea/deploymentTargetSelector.xml
/.idea/runConfigurations.xml
/.idea/AndroidProjectSystem.xml
.DS_Store
/build
/core/build
/data/build
/domain/build
/domain/common/build
/shared/build
/captures
.externalNativeBuild
.cxx
local.properties
config.properties
release.properties
